/* reset */
*{
  font-family: 'Dosis', sans-serif;
}

input{
  border: 1px solid lightgray;
  outline: none;
}

button{
  border: none;
  background: none;  
}

/* contents */
body{
  height: 100vh;
  margin: 0;
  background-image: url(assets/image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  max-width: 800px;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-top: 10px solid skyblue;
  border-bottom: 10px solid skyblue;
}

.container h1{
  padding-top: 10px;
  font-weight: 700;
}

/* input 라인 */
.input-task{
  width: 75%;
  margin-bottom: 16px;
}

.input-add-button{
  font-size: 18px;
  color: rgb(66, 66, 66);
}

.input-add-button:hover{
  opacity: 0.5;
}

/* tab menu */
.task-area{
  border: 1px solid lightgray;
}

.task-tab{
  position: relative;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.task-tab .underline{
  position: absolute;
  top: 52px;
  left: 0;
  width: 50px;
  height: 4px;
  padding: 0;
  background-color: lightblue;
  transition: 500ms ;
}

.task-tab .task-type{
  padding: 1em;
  cursor: pointer;
}

/* 할일 목록 */
.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
}

.task-item .task{
  display: block;
  margin-bottom: 0;
  word-break: break-all;
  font-weight: 500;
}

.task-item .task-buttons{
  display: flex;
}

.task-item button{
  /* width: 50px; */
  /* height: 50px; */
  font-size: 18px;
  color: rgb(104, 104, 104);
}

.task-item button:hover{
  opacity: 0.5;
}

.task-item button:first-child{
  /* margin-right: 8px; */
}

/* 할일 목록 완료 시 */
.task-done{
  margin-bottom: 0;
  font-style: italic;
  color: rgb(141, 141, 141);
  text-decoration: line-through;
}